@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$assetImage: "../../assets";
//mobile
@media only screen and (max-width: 1000px) {
  #pageproy{
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-areas:
      "busqueda "
      "contenido"
      "contenido";
    
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr  ;

    .busqueda{
        grid-area:busqueda;
        background-color: aquamarine;
        //centrar ////////////////centrar los elementos que no estan agrupados
        text-align: center;
        position:sticky;
        p{
          margin-top: 1rem;
          font-size: 18px;
          height: 6rem;
        }
        input{
            width: 20rem;
            margin-top: -5rem;
            ///el REAL CENTRADO
            position: absolute;
            top: 10rem; //VARIABLE
            left: 50%;
            transform: translate(-50%, -50%);
           
        }
        

    }

    .contenido {
        grid-area: contenido;
        //centrar contenido dinamicamente muy util
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;

      p {
        line-height: 2;
        font-family: "Open Sans", sans-serif;
        text-align: justify;
      }
     
    }

   
  }
  .card{
    margin: 2rem;
    width: 20rem;
    overflow: hidden;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    background-color: #E6E6E6;
  }
}

//pc
@media only screen and (min-width: 1000px) {
  #pageproy {
    margin-top: 5rem;
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-areas:
      "busqueda busqueda"
      "contenido  contenido"
      "footer footer ";
    grid-template-rows: 10rem 1fr 1fr;
    grid-template-columns: 70% 1fr ;

    .busqueda{
        grid-area:busqueda;
        background-color: aquamarine;
        //centrar ////////////////centrar los elementos que no estan agrupados
        text-align: center;
        p{
          margin-top: 2rem;
          font-size: 18px;
        }
        input{
            width: 20rem;
            margin-top: 1rem;
            ///el REAL CENTRADO
            position: absolute;
            top: 10rem; //VARIABLE
            left: 50%;
            transform: translate(-50%, -50%);
           
        }
        

    }

 
    .contenido {
        grid-area: contenido;
        //centrar contenido dinamicamente muy util
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;

      p {
        line-height: 2;
        font-family: "Open Sans", sans-serif;
        text-align: justify;
      }

     
    }


  }

  
  .card{
    margin: 2rem;
    width: 20rem;
    overflow: hidden;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    background-color: #E6E6E6;

    .card-header{

    }
    .card-body{

    }
    .card-title{

    }
    .card-title{

    }
  }
}
